<BottomNavigation>
    <TabStrip iosIconRenderingMode="alwaysOriginal">

        <TabStripItem>
            <Label text="New Task"></Label>
        </TabStripItem>
        <TabStripItem>
            <Label text="Browse Tasks"></Label>
        </TabStripItem>
        <TabStripItem>
            <Label text="Account"></Label>
        </TabStripItem>

    </TabStrip>

    <TabContentItem>
        <StackLayout>
            <page-router-outlet name="newTaskTab"></page-router-outlet>
        </StackLayout>
    </TabContentItem>

    <TabContentItem>
        <StackLayout>
            <page-router-outlet name="browseTasksTab"></page-router-outlet>
        </StackLayout>
    </TabContentItem>

    <TabContentItem>
        <StackLayout>
            <page-router-outlet name="accountTab"></page-router-outlet>
        </StackLayout>
    </TabContentItem>

</BottomNavigation>
